28:1. VISÃO DO PRODUTO
63:2. PRINCÍPIO DE UX
116:3. LANDING PAGE
151:4. AUTENTICAÇÃO
167:1. nome;
168:2. username;
169:3. nome artístico;
170:4. foto;
171:5. gênero musical;
172:6. localização opcional;
173:7. objetivos musicais.
195:5. ONBOARDING
247:6. DASHBOARD
297:7. PROJETOS
334:8. CLOUD PROJECTS
357:9. STUDIO
402:10. TRACKS
442:11. GRAVAÇÃO VOCAL
492:12. MULTI-TAKE
514:13. EDIÇÃO DE ÁUDIO
538:14. PIANO / TECLADO VIRTUAL
590:15. MIDI
623:16. DRUM MACHINE
658:17. LOOPER
675:18. SAMPLER
693:19. BIBLIOTECA DE SONS
751:20. MY SOUNDS
773:21. INSTRUMENTOS VIRTUAIS
811:22. AUTOPITCH / CORREÇÃO VOCAL
855:23. VOICE CLEANER IA
882:24. AI VOICE TOOLS
908:25. IA PARA CRIAÇÃO MUSICAL
938:26. PALETTE / GERADOR DE IDEIAS
980:27. AUDIO-TO-MIDI
1018:28. STEM SPLITTER
1046:29. EFEITOS
1094:30. FX PRESET GENERATOR IA
1132:31. MIXER
1162:32. AUTOMATION
1180:33. AUTOMIX IA
1222:34. MASTERIZAÇÃO
1264:35. PLAYER
1290:36. EXPORTAÇÃO
1334:37. COMPARTILHAMENTO
1360:38. COLABORAÇÃO
1388:39. COMUNIDADE MUSICAL
1428:40. PERFIL DO ARTISTA
1466:41. ARTIST SERVICES
1510:42. MONETIZAÇÃO
1551:43. SOUNDS MARKETPLACE
1574:44. NOTIFICAÇÕES
1590:45. CONFIGURAÇÕES
1620:46. PRIVACIDADE
1642:47. SEGURANÇA
1672:48. ARQUITETURA
1712:49. BANCO DE DADOS
1766:50. PERFORMANCE
1790:51. MOBILE
1828:52. EXPERIÊNCIA DO USUÁRIO
1860:53. PRIMEIRA MÚSICA
1902:54. DESIGN SYSTEM
1944:55. IDENTIDADE VISUAL
1982:56. RESPONSIVIDADE
2002:57. ESTADOS DO SISTEMA
2032:58. OFFLINE
2052:59. ACESSIBILIDADE
2070:60. IA COMO ASSISTENTE
2094:61. PRINCIPAL DIFERENCIAL DO NOVO PRODUTO
2124:62. REGRA DE OURO
2160:63. RESULTADO ESPERADO
2232:64. PRIORIDADE DE IMPLEMENTAÇÃO
2314:65. REGRA FINAL DE IMPLEMENTAÇÃO
